*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root{
    --brand-gradient: linear-gradient(to right, #FC4A1A, #F7B733);
    --brand-color-primary: #F7B733;
    --brand-color-secondary: #FC4A1A;
    --background-color: #09090B;
    --surface-color: #18181B;
    --stroke-color: #27272A;
    --text-color-secondary: #A1A1AA;
    --text-color-primary: #F4F4F5;

    /* TIPOGRAFIA */
    --font-family: "Inter", sans-serif;
    --h1-desk: 800 64px/120% var(--font-family);
    --h2-desk: 800 48px/120% var(--font-family);
    --h3-desk: 800 32px/120% var(--font-family);
    --span-desk: 500 14px/100% var(--font-family);
    --paragraph-desk: 400 16px/160% var(--font-family);
    --a-desk: 500 16px/100% var(--font-family);


    --h1-mobile: 800 40px/120% var(--font-family);
    --h2-mobile: 800 24px/120% var(--font-family);
    --h3-mobile: 800 20px/120% var(--font-family);
    --span-mobile: 500 14px/100% var(--font-family);
    --paragraph-mobile: 400 16px/160% var(--font-family);
    --a-mobile: 500 14px/100% var(--font-family);
}

body{
    background-color: var(--background-color);
    color: var(--text-color-primary);
}

a {
    text-decoration: none;
    color: inherit;
}

ul[role="list"]{
    list-style: none;
}

h1{
    font: var(--h1-mobile);
}

h2{
    font: var(--h2-mobile);
}

h3{
    font: var(--h3-mobile);
}

span{
    font: var(--span-mobile);
}

.paragraph{
    font: var(--paragraph-mobile);
}

@media (width >= 80em){
    h1{
        font: var(--h1-desk);
    }
    
    h2{
        font: var(--h2-desk);
    }
    
    h3{
        font: var(--h3-desk);
    }
    
    span{
        font: var(--span-desk);
    }
    
    .paragraph{
        font: var(--paragraph-desk);
    }
}